body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

button {
  background-color: black;
  color: white;
  border: 1px white solid;
  padding: 0.5em 1em;
  margin: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #383838;
}

.customize-button {
  max-width: max-content;
  align-self: center;
}

textarea {
  background-color: #333;
  color: white;
  border: none;
}

th, td {
  padding: 0.5em;
}

a {
  color: white;
  text-decoration: none;
}
